/* FILE: loading.css */

.loader {
  @apply relative w-full h-12 flex flex-col-reverse justify-center items-center;
}

.loader {
  @apply relative w-full h-12 flex flex-col-reverse items-center;
}

.loader-text {
  @apply relative tracking-wide mt-20;
  animation: text 4s linear infinite; /* adjust the timing as needed */
}

.load {
  @apply bg-purple-600 rounded-full h-4 w-4 block absolute bottom-0;
  animation: load 4s linear infinite; /* adjust the timing as needed */
}

.load::before {
  @apply absolute w-full h-full bg-purple-200 rounded-full;
  content:   "";
  animation: load2 4s linear infinite; /* adjust the timing as needed */
}

/* Keyframes for animation */
@keyframes text {
  0%, 20% {
    @apply tracking-normal;
    transform: translateX(0px);
  }
  60% {
    @apply tracking-wider;
    transform: translateX(50%);
  }
  100% {
    @apply tracking-normal;
    transform: translateX(0px);
  }
}

@keyframes load {
  0% {
    width:     10%;
    transform: translateX(0px);
  }
  40% {
    width:     100%;
    transform: translateX(0px);
  }
  80% {
    width:     10%;
    transform: translateX(90%);
  }
  90%, 100% {
    width:     100%;
    transform: translateX(0px);
  }
}

@keyframes load2 {
  0% {
    transform: translateX(0px);
    width:     10%;
  }
  40% {
    transform: translateX(0%);
    width:     80%;
  }
  80% {
    width:     100%;
    transform: translateX(0px);
  }
  90% {
    width:     80%;
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0px);
    width:     10%;
  }
}