/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding:    0;
  margin:     0;
}

:root {
  --color-brand:    #ffde00;
  --color-contrast: #ee3133;
  --color-light:    #fff;
}

/* adding custom fonts */
@font-face {
  font-family: "Lexend";
  src:         url("/assets/fonts/Lexend-Regular.ttf");
  font-weight: 400;
  
}

@font-face {
  font-family: "Lexend";
  src:         url("/assets/fonts/Lexend-Medium.ttf");
  font-weight: 500;
  
}

@font-face {
  font-family: "Lexend";
  src:         url("/assets/fonts/Lexend-Bold.ttf");
  font-weight: 700;
  
}

body {
  font-family: "Lexend", serif;
}

/* image */
img {
  max-width: 100%;
}

h1, p {
  margin-bottom: 1rem;
}

.grid-page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/* tailwind custom stuff */
@layer components {
  .landingPage {
    @apply flex flex-col min-h-screen items-center
    justify-center text-center bg-brand p-4;
  }
  
  .about-container {
    @apply my-8 flex flex-col lg:flex-row
    lg:justify-between lg:items-center gap-8;
  }
  
  .bg-brand {
    /* background-color: var(--color-brand); */
    @apply bg-[var(--color-brand)];
  }
  
  .btn {
    @apply py-0.5 px-5 border border-black text-base
    cursor-pointer w-fit rounded transition-colors duration-500 my-4;
  }
  
  .btn-white {
    @apply btn bg-white hover:bg-[var(--color-contrast)] focus:bg-[var(--color-contrast)] hover:text-white;
  }
  
  .btn-contrast {
    @apply btn bg-[var(--color-contrast)] hover:bg-[var(--color-brand)] focus:bg-[var(--color-brand)] hover:text-black;
  }
  
  .btn-red {
    @apply btn text-white;
  }
  
  .btn-brand {
    @apply btn bg-brand;
  }
  
  .btn-brand-red {
    @apply btn-brand btn-red hover:bg-[var(--color-contrast)] focus:bg-[var(--color-contrast)] hover:text-black;
  }
}



























