/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding:    0;
  margin:     0;
}

:root {
  --color-brand:    #ffde00;
  --color-contrast: #ee3133;
  --color-light:    #fff;
}

/* adding custom fonts */
@font-face {
  font-family: "Lexend";
  src:         url("/assets/fonts/Lexend-Regular.ttf");
  font-weight: 400;
  
}

@font-face {
  font-family: "Lexend";
  src:         url("/assets/fonts/Lexend-Medium.ttf");
  font-weight: 500;
  
}

@font-face {
  font-family: "Lexend";
  src:         url("/assets/fonts/Lexend-Bold.ttf");
  font-weight: 700;
  
}

body {
  font-family: "Lexend", serif;
}

/* image */
img {
  max-width: 100%;
}

h1, p {
  margin-bottom: 1rem;
}

/* tailwind custom stuff */
@layer components {
  .bg-brand {
    /* background-color: var(--color-brand); */
    @apply bg-[var(--color-brand)];
  }
  
  .btn {
    @apply bg-white py-0.5 px-5 border border-black text-base
    hover:bg-[var(--color-contrast)] hover:text-white focus:bg-[var(--color-contrast)]
    cursor-pointer w-fit rounded transition-colors duration-500;
  }
  
  .btn-contrast {
    @apply bg-[var(--color-contrast)] hover:bg-[var(--color-brand)]
    focus:bg-[var(--color-brand)] hover:text-black;
  }
  
  .btn-red {
    @apply my-4 text-white;
  }
}
























