/* FILE: auth-button.css */
/* ________________________________________ */

.github-btn {
  @apply text-white bg-[#24292F] hover:bg-[#24292F]/90
  focus:outline-none focus:ring-0  /* Removed focus:ring-4 and focus:ring-[#24292F]/50 */
  font-medium rounded-lg text-sm px-8 py-2.5
  flex items-center justify-center dark:focus:ring-gray-500
  dark:hover:bg-[#050708]/30 mr-2 mb-2 w-[220px] whitespace-nowrap
  active:opacity-5 transition-opacity duration-300;  /* Added transition for opacity */
}
/* ________________________________________ */