/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-blue: #778FFB;
    --theme-pink: color(display-p3 0.91 0.118 0.382 / 1.0);
    --theme-mirage: color(display-p3 0.076 0.093 0.166 / 1.0);
}

body {
    font-family: "Poppins", serif;
    color: white;
    margin: 0;
    background: var(--theme-mirage);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: "Geo", serif;
    font-weight: bold;
    color: white;
    margin: 0;
    font-size: 1.8em;
}

/* tailwind global classes */
.btn {
    @apply font-bold py-2 px-4 rounded min-w-[10rem] h-12;
}

.btn-primary {
    @apply bg-purple-600 text-white;
}

button:disabled {
    @apply bg-gray-800;
}

button:hover {
    @apply bg-purple-700;
}

.list-of-pokemons {
    @apply m-5 flex flex-col justify-center items-center cursor-pointer;
}

.layout-main {
    @apply flex flex-col items-center justify-center;
}













