header {
    background-color: var(--theme-blue);
}

header {
    @apply shadow-lg shadow-gray-700
}

nav {
    display: flex;
    padding: 10px;
    max-width: 1260px;
    margin: 0 auto;
    align-items: center;
}

nav img {
    width: 60px;
    height: 60px;
}

nav h1 {
    margin-left: 10px;
    margin-right: auto;
    font-weight: bold;
    font-size: 2em;
}

nav li {
    display: inline-block;
    margin-left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
}

nav a:hover {
    color: white;
    text-decoration: none;
    box-shadow: 0 0 10px white, 0 0 5px white; /* adjust for desired glow effect */
    border-radius: 15px; /* adjust for desired roundness */
    transition: all 0.2s ease-in-out; /* smooth transition */
}


.container {
    max-width: 1260px;
    margin: 40px auto;
    padding: 10px;
}

footer {
    background: #ddd;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}